{% extends 'base.html' %}


{% block content %}
    <h1>About</h1>
    <p>Hmm...scheint niemand zuhause zu sein</p>

<p>{{ Infos }} {{ random_number}}{{ my_list }}</p>

<ul>
{% for abc in my_list %}
    {% if abc == 312 %}
        <li>{{ forloop.counter }}-{{ abc|add:22 }}</li>
    {% elif abc == 312 %}
        <li>{{ forloop.counter }}-{{ abc|add:22 }}</li>
    {% else %}
        <li>{{ forloop.counter }}-{{ abc }}</li>
    {% endif %}
{% endfor %}
</ul>

<div class="fullCard">
  <div class="cardContent">
    <div class="cardText">
      <h4>Google</h4>
      <p>Google was founded by Larry Page and Sergey Brin while they were Ph.D. students at Stanford University.</p>
    </div>
    <div class="cardLinks">
      <a href="https://en.wikipedia.org/wiki/Larry_Page" target="_blank" class="links">Larry Page</a>
      <a href="https://en.wikipedia.org/wiki/Sergey_Brin" target="_blank" class="links">Sergey Brin</a>
    </div>
  </div>
</div>
{% endblock content %}

        
