<!DOCTYPE html>
<html>
<head>
    <title></title>

<style type="text/css">
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
    }
    li {
        float: left;
    }
    li a {
        display: block;
        padding: 10px;
        color: white;
    }
    a:hover {
        background-color: #055;
        color: black;
    }


</style>
</head>
<body>
<!-- HTML -->
<nav>
    <ul>
        <li><a href="http://127.0.0.1:8000/home/" id="home">home</a></li>
        <li><a href="http://127.0.0.1:8000/about/">about</a></li>
        <li><a href="http://127.0.0.1:8000/create/">create</a></li>
        <li><a href="http://127.0.0.1:8000/product/">product</a></li>
        <li><a href="http://127.0.0.1:8000/contact/">contact</a></li>
        <li><a href="http://127.0.0.1:8000/survey/">survey</a></li>
    </ul>
</nav>

</body>
</html>
