<style>
body {
    background-color: rgba(18, 126, 77, 0.527);
}
.my-class {
    color: rgba(37, 141, 94, 0.527)
}

h4 {
    text-align: center;
}
p {
    text-align: justify;
}
.links {
    margin-right: 20px;
    text-align: left;
}
.fullCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    padding: 4px;
}
.cardContent {
    padding: 10px;
}
#home {
    cursor: cell;
}
</style>